.row-fluid
  .span12
    %p#notice= notice
.row-fluid
  .span6
    %h2 Listing questions

    %table(border=true)
      %thead
        %tr
          %th Pathway
          %th Text
          %th Order
          %th Actions

      %tbody#questions
        - @questions.each do |question|
          = render partial: question, locals: {with_pathway: true, with_actions: true}
