.row-fluid
  .span12.white
    %h2 Contact us to find out more
    %p
      This project started at the National Day of Civic Hacking hackathon that occured at Affinity Labs and Google offices in DC.
    %p
      It has been made possible with the help of Arielle Baker of Elevate, Dan Jeffers of <a href="http://boltdigitalstrategies.com/">Bolt Digital Strategies</a>, and Sean Perkins of <a href="http://mobility-labs.com">Mobility Labs</a>. Please contact us using this <a href="mailto:sean@mobility-labs.com">email</a> or this <a href="mailto:dan@boltdigitalstrategies.com">one</a>.