.row-fluid
  .span12
    %h1 Weclome to Reconnecting
.row-fluid
  .span12
    %p If you are a woman who has served in the military, you are entitled to help and support as you face the world and look for meaningful employment.
    %p We are here to help connect you to those resources most relevant to your needs.