.row-fluid
  .span8.white
    %h2 Answer questions that appear below
    %p Just answer the simple multiple-choice questions and your resources will be displayed on the right.
    %a{href: '/ux/questions/2', class: 'btn btn-answer'} Begin
    %a{href: '/ux/questions/2', class: 'btn btn-answer'} Start now
    %a{href: '/ux/questions/2', class: 'btn btn-answer'} Let's do it
  .span4
    .row-fluid
      .span12.white
        %h2 Resources
        %ul#resources
          %li As you answer questions, the resources become more applicable to your situation.
    .row-fluid
      .span12.blue
        %h2 Personalized Messages
        %p Messages that appear here give context to your situation and the other veterans who might be going through the same situations.