.row-fluid
  .span12.white
    .row-fluid
      .span12
        %h2 Three Stages
    .row-fluid#three-stages
      .span12
        .stages
          %h3 Be At the Right Place
          %p Reaching women who are seeking out help requires understanding where they are searching, and finding ways to be there.
        .stages
          %h3 Identify the Exact Problem
          %p Women veterans looking for work are facing widely varied issues. Narrowing down the nature of the problems a particular user are facing is a critical first step.
        .stages
          %h3 Offer Just the Most Helpful Resources
          %p Offering too many resources is as bad as not offering any. Offering just the most appropriate resources is the best way to see that these will actually be used.
    .row-fluid#content-strategy
      .span12
        %h2 Web Content Strategy: Where are Women Looking for Help?
        %p Given that most women in the target audience group are not actively looking for VA or other Federal agency resources, the appropriate strategy is to reach out to where they may be when they express a need. 

        %p The team identified a number of potential search phrases that women might use when searching for solutions to the difficulties described, and created a chart (attached) of websites that would be likely destinations for women seeking help.

        %p We propose populating these websites with a button that simply asks “are you a woman who served in the military?” The wording here is key as women veterans, who often do not identify as such, would likely be more apt to see themselves according to this phrasing.  The button would link to a sorting tool/wizard that will help users find the appropriate type of help.

        %p Many of the targeted websites are Federal agency sites, local government sites, or sites operated by major non-profits. We anticipate that many of these sites would respond to an appropriate request to participate in the campaign by adding the linked button to landing pages.

        %p As part of our challenge package, we are providing the communications kit for use by the Department of Labor (and possibly Veterans Administration) in soliciting these button placements.

        %p We are also recommending the use of the Google Grants program, which provides $10,000/month in free adwords placement to approved non-profit campaigns. We would use a similar selection of search phrases to reach women veterans who are experiencing a crisis resulting from, or possibly creating, employment problems.

        %p These ads would also use the headline “are you a woman who served in the military?” to attract the target audience groups, and would take them to the same sorting tool/wizard.
    .row-fluid#connecting-search
      .span12
        %h2 Connecting Search to Resource: The Magic Sorting Hat
        %p The critical stage in our approach is the expert system we have described as a “sorting hat.” Our assumption is that the targeted women who are having the greatest difficulty are the least likely to browse through a long list of resources for help, especially if that list is predominantly military-oriented.

        %p Our sorting hat will provide a more helpful experience by asking a small set of questions, while providing ongoing feedback. When the user has identified herself to a point where needed resources become apparent, the user will be given a resource page that highlights the most relevant destination, and include a brief explanation as to why that resource was selected. This resource page is more fully described below.

        %p The sorting hat will include a clear statement that no personally identifying information is being collected, and that answers to questions will only be kept during the specific user session. (aggregated tracking data will be collected as part of the system learning process).

    .row-fluid
      .span12
        %h2 Resource Pages
        %p The resource pages will exist as part of the project website. However, each resource page is intended to be a landing page for that particular sorting hat outcome (i.e. that particular user). Additionally, these will primarily send the user to the most relevant resource. Therefore, the website as a whole will not be as much the user experience as with most websites. For those visitors who want to navigate the site without using the wizard, or who wish to remain on the site after arriving at a resource page, there will be traditional navigation elements and information architecture. However, design decisions will primarily support the targeted users who will typically only visit one resource page after using the wizard.
