$('tr.just-confirmed').removeClass('just-confirmed');
$('tr.just-deleted').remove();
$('tr#admin_<%= @admin.id %>').addClass('just-deleted')
  .find('td.actions').replaceWith('<p>Deleted</p>');
$('#notice').empty();
$('#alert').empty()
  .append($('<%= escape_javascript(render partial: "layouts/alert") %>'))
  .find('.alert').text('Admin <%= @admin.email %> was successfully deleted.')
