%tr.answer{id: "answer_#{answer.id}"}
  %td.sortby= link_to answer.text, answer
  %td
    - if answer.goto_pathway.present?
      = link_to answer.goto_pathway.name, answer.goto_pathway
    - else
      (return to previous)