.row-fluid
  .span12
    %h2 Listing answers

.row-fluid
  .span12
    %table(border=true)
      %thead
        %tr
          %th Pathway
          %th Question
          %th Answer
          %th Reassurance
          %th Actions

      %tbody#questions
        = render partial: @answers