.row-fluid
  .span12.white
    %h2 Listing answers
    %table(border=true)
      %thead
        %tr
          %th Pathway
          %th Question
          %th Answer
          %th Reassurance
          %th Actions

      %tbody#questions
        = render partial: @answers