.row-fluid#privacy-notice
  .span12.white
    %p 
      %span.bold Privacy Note:
      All answers you provide are retained only for the current session. You will not be asked for any personally identifying information while using this tool, and your answers will not be tied to any profile or login you may have on any site.