.row-fluid
  .span12.white
    .row-fluid
      .span9
        %h2 Editing pathway
      .span3
        = link_to 'Show', @pathway, {class: 'btn btn-primary'}
        = link_to 'Back', pathways_path, {class: 'btn btn-secondary'}
    = render 'megaform'
