.row-fluid
  .span12
    %p#notice= notice
.row-fluid
  .span6
    %h4 Listing pathways

    %table(border=true)
      %thead
        %tr
          %th Name
          %th Actions
      %tfoot
        = render partial: Pathway.new
      %tbody#pathways
        - @pathways.each do |pathway|
          = render partial: pathway
  .span6
    %h4 Add a new pathway:
    = render partial: 'megaform'
