.row-fluid
  .span12
    %p#notice= notice

.row-fluid
  .span6
    %h1 Editing resource

.row-fluid
  .span6
    = render partial: 'form', locals: {remote: true}
.row-fluid
  .span6
    = link_to 'Back', @resource
