.row-fluid
  .span12
    %p#notice= notice

.row-fluid
  .span6
    %h4 Listing resources
    %table(border=true)
      %thead
        %tr
          %th Name
          %th Link
          %th Starting Weight
          %th Category
          %th Actions
      %tbody{id: "resources"}
        - @resources.each do |resource|
          = render partial: resource
  .span6
    %h4 Add a new resource
    = render partial: 'form'
