.row-fluid
  .span12
    %p#notice= notice

.row-fluid
  .span8.white
    %h4 Listing resources
    %table(border=true)
      %thead
        %tr
          %th Name
          %th Description
          %th Link
          %th Starting Weight
          %th Category
          %th Actions
      %tbody{id: "resources"}
        = render partial: @resources
  .span4.white
    %h4 Add a new resource
    = render partial: 'form'
