.row-fluid
  .span12
    %p#notice= notice

.row-fluid
  .span6
    %h1 Listing resources
    %table(border=true)
      %thead
        %tr
          %th Name
          %th Link
          %th Starting Weight
          %th Actions
      %tbody{id: "resources"}
        - @resources.each do |resource|
          = render resource
  .span6
    .hero-unit
      %h4 Create a new resource:
      = render partial: 'form', locals: {remote: true}
