.row-fluid
  .span12
    %p#notice= notice

.row-fluid
  .span6
    %h1 Resource

.row-fluid
  .span6
    = render partial: 'form', locals: {disabled: true}
    = link_to 'Edit', edit_resource_path, class: 'btn'
.row-fluid
  .span6
    = link_to 'Back', resources_path
