.row-fluid
  .span12
    %p#notice= notice

.row-fluid
  .span6.white
    .row-fluid
      .span6
        %h4 Resource
      .span6
        = link_to 'Resources', resources_path, {class: 'btn'}
        = link_to 'Category', @resource.category, {class: 'btn'}

.row-fluid
  .span12
    = render partial: 'form', locals: {disabled: true}
