!!!
%html{style: 'min-width: 0'}
  %head
    = stylesheet_link_tag "application"
%body{style: 'min-width: 0'}
  .row-fluid
    .span12.white
      %h2 Are you a female who served in the military?
      = link_to 'Yes', '#', class: 'btn btn-answer', style: 'font-weight:bold;text-align:center;'
      .clear{style: 'clear:both;'}
      %p{style: 'font-size: 20px; font-weight: bold;'} We would like to help.