%tr.category{id: "category_#{category.id}"}
  %td.sortby= link_to category.name, category
  %td
    = link_to 'Edit', edit_category_path(category)
    = link_to 'Destroy', category, method: :delete, remote: true, data: { confirm: 'Are you sure?' }
