- content_for :title do
  %title Reconnecting Women Veterans
- content_for :footer do
  #footer
    .row-fluid
      .span8.offset2
        .centered
          %p
            Reconnecting Women Veterans 2013