.masthead
  .navbar
    .navbar-inner
      .container
        %ul.nav
          %li#site-title
            %a{href: '/'} <span>Re</span>CONNECTING <span>W</span>omen <span>V</span>eterans
          %li{class:"#{'active' if controller_name == 'static_pages' && action_name == 'demonstration'}", data: {:'no-turbolink'=>'true'}}
            %a{href: '/demonstration'} Demonstration
          %li{class:"#{'active' if controller_name == 'static_pages' && action_name == 'strategy'}"}
            %a{href: '/strategy'} Strategy
          %li{class:"#{'active' if controller_name == 'static_pages' && action_name == 'contact_us'}"}
            %a{href: '/contact-us'} Contact Us
          = content_for :admin_session
